.edit-item {
    display: flex;
    height: 14.5rem;
    border: 1px solid var(--border-colour-3);
    background-color: var(--tooltip-colour-2);
}

.edit-item-icon-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-colour-3);

    .edit-item-icon {
        width: 11rem;
        height: calc(11rem - 0.3rem);
        transform: scale(1.00);
        border-bottom: 0.1rem solid var(--border-colour-3);
    }

    .edit-item-item-level {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3.6rem;
        width: 11rem;

        border: none;
        border-top: 0.1rem solid var(--border-colour-3);
        font-size: 1.9rem;
        background-color: transparent;
        
        outline: none;
    }
}

.edit-item-info {
    display: flex;
    width: 90%;

    .edit-item-info-bonuses {
        width: 72%;
    }
}