.loadout-equipment-item {
    display: flex;
    overflow: auto;
    border-top: .1rem solid var(--border-colour-3);

    .loadout-equipment-item-icon {
        width: 2.7rem;
        height: 2.7rem;
    }

    .loadout-equipment-item-name {
        padding-left: .5rem;
        padding-top: .2rem;
        font-size: 1.4rem;
    }

    .loadout-equipment-item-level {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .0rem;
        margin-left: auto;
        margin-right: .4rem;
        width: 2.7rem;
        height: 2.7rem;
        font-size: 1.4rem;
    }
}

.loadout-equipment-tooltip {
    text-align: left;
    font-size: 1.3rem;
    padding: 0.5rem;

    .loadout-equipment-tooltip-name-container {
        display: flex;
        justify-content: space-between;
    
        .loadout-equipment-tooltip-name {
            margin-right: 4.5rem;
        }
    }

    .loadout-equipment-tooltip-gems {
        margin-top: .2rem;
        margin-bottom: .2rem;

        .loadout-equipment-tooltip-gem {
            margin-right: .3rem;
        
            width: 2.5rem;
            height: 2.5rem;
        
            border: .1rem solid var(--border-colour-3);
        }
    }
}

