.dropdown-input-field {
    position: relative;
    padding: 0 0 .1rem 0.5rem;
    margin: -.6rem 0 .5rem 0;

    border: .1rem solid var(--panel-colour-4);
    border-radius: .3rem;

    font-size: 2.0rem;
    color: var(--light-font-colour);
    background-color: var(--panel-colour-2);
    height: 4.0rem;
    width: 27.5rem;
    font-size: 1.6rem;
    padding-left: .5rem;
    outline: none;
    user-select: none;
}

.highlighted-text {
    color: var(--paladin-font);
    white-space: pre;
}

.dropdown-selected-input {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1.0rem;
    position: absolute;
    top: -.1rem;
    left: -.1rem;

    height: 4.0rem;
    width: 27.5rem;
}

.dropdown-arrow-down {
    position: absolute;
    top: 1.1rem;
    right: 0.7rem;

    font-size: 1.4rem;
    pointer-events: none;
}

.dropdown-options-container {
    position: absolute;
    top: 4.0rem;
    left: -.1rem;

    text-align: left;
    padding-top: .2rem;

    max-height: 24.0rem;
    width: 27.5rem;

    overflow: auto;
    z-index: 1000;

    background-color: var(--panel-colour-2);
    border-left: .1rem solid var(--border-colour-3);
    border-right: .1rem solid var(--border-colour-3);
    border-bottom: .1rem solid var(--border-colour-3);
}

.dropdown-options-container::-webkit-scrollbar-thumb {
    border-left: .2rem solid var(--panel-colour-6);
}

.dropdown-options-container::-webkit-scrollbar-track {
    background-color: .1rem solid var(--panel-colour-6);
}

.dropdown-option {
    display: flex;
    align-items: center;

    padding-left: 0.7rem;
    border-left: .2rem solid var(--panel-colour-2);
    border-radius: .3rem;

    height: 4.0rem;
    width: 100%;
    white-space: pre; 
}

.dropdown-option:hover {
    background-color: var(--panel-colour-5);
}

.dropdown-option-highlighted {
    background-color: var(--panel-colour-5);
}

.region-dropdown, .realm-dropdown {
    padding-left: 0rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin: 0 auto;

    border: 0.1rem solid var(--panel-colour-4);
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;

    height: 2.7rem;
    color: var(--light-font-colour);
    background-color: var(--panel-colour-2);
    user-select: none;

    .dropdown-selected-input {
        width: 16rem;
        height: 2.7rem;
        font-size: 1.4rem;
        left: -0.5rem;
        top: 0rem;
    }

    .dropdown-arrow-down {
        top: 0.7rem;
        right: 0.4rem;
    }
}

.region-dropdown {
    width: 5rem;
}

.realm-dropdown {
    width: 16rem;
}

.region-dropdown .dropdown-options-container, .realm-dropdown .dropdown-options-container {
    top: 2.8rem;
    overflow-x: hidden;

    .dropdown-option {
        font-size: 1.4rem;
        height: 2.7rem;
        padding-left: 0.4rem;
    }
}

.region-dropdown .dropdown-options-container {
    width: 5.1rem;

    .dropdown-option {
        width: 4.7rem;
    }
}

.realm-dropdown .dropdown-options-container {
    width: 16.1rem;

    .dropdown-option {
        width: 16rem;
    }
}

.edit-equipment-dropdown {
    margin-left: -0.1rem;
    width: 59.3rem;
    
    .dropdown-selected-input {
        width: 59.3rem;
        padding-bottom: 0.1rem;
    }
}

.edit-equipment-dropdown .dropdown-options-container {
    width: 59.3rem;
    min-height: 39.8rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    .dropdown-option {
        width: 58.1rem;
    }
}