.overhealing-item {
    display: flex;
    margin-bottom: 1.0rem;

    .overhealing-item-icon {
        height: 2.5rem;
        width: 2.5rem;
        border: 0.1rem solid var(--border-colour-3);
        border-radius: 0.2rem;
    }

    .overhealing-item-text {
        margin-left: 0.6rem;
        font-size: 1.4rem;
    }

    .overhealing-item-input-container {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 1.5rem;

        .overhealing-item-input {
            text-align: right;
            margin-left: auto;
            max-width: 2.0rem;
            background-color: transparent;
            border: none;
            outline: none;
            color: var(--light-font-colour);
            margin-right: 0.2rem;
        }

        .overhealing-item-percentage {
            font-size: 1.5rem;
        }
    }
}