.searchbar {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.searchbar-input {
    width: 100%;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    background-color: transparent;
    border-bottom: 1px solid var(--border-colour-3);
    outline: none;
    border: none;
    color: var(--light-font-colour);
}

.searchbar-suggestions {
    position: absolute;
    top: 2.7rem;
    width: 118%;

    overflow: auto;
    border: 0.1rem solid var(--border-colour-5);
    border-bottom: 0.1rem solid var(--border-colour-3);
    border-right: none;
    border-left: none;
    font-size: 1.4rem;
    z-index: 5;

    .searchbar-suggestion {
        display: flex;
        border-top: none;
        background-color: var(--panel-colour-table-2);
        border-right: 0.1rem solid var(--border-colour-3);

        .searchbar-suggestion-icon {
            width: 2.7rem;
            height: 2.7rem;
        }

        .searchbar-suggestion-text {
            padding-left: 0.5rem;
            padding-top: 0.2rem;
            height: 2.9rem;
            width: 100%;
        }
    }

    .searchbar-suggestion:hover {
        cursor: pointer;
        user-select: none;
        background-color: var(--border-colour-5);
    }
}

.searchbar-suggestions::-webkit-scrollbar-thumb {
    border-left: .2rem solid var(--panel-colour-6);
}

.searchbar-suggestions::-webkit-scrollbar-track {
    background-color: .1rem solid var(--panel-colour-6);
}