.talent-icon {
    position: relative;

    box-shadow: .1rem .1rem .1rem var(--border-colour-2);
    // border-radius: .2rem;
    cursor: pointer;
}

.talent-selected {
    box-shadow: 0rem 0rem .4rem var(--gold-font);
}

.talent-icon-small {
    width: 4rem;
    height: 4rem;
}

.talent-icon-large {
    width: 4.5rem;
    height: 4.5rem;
    border: 0.1rem solid var(--border-colour-3);
}

.talent-icon-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    filter: saturate(0);
}

.talent-icon-border {
    box-shadow: 0.0rem 0.0rem 0.1rem var(--border-colour-2);
    border: .1rem solid var(--panel-colour-2);
}

.talent-icon-selected {
    filter: saturate(1);
}

.talent-empty {
    border: none;
    box-shadow: none;
    pointer-events: none;
}

.talent-icon:hover {
    box-shadow: 0rem 0rem .3rem .1rem var(--holy-font) !important;
    transition: box-shadow 0.01s ease-in-out;
}

.talent-rank-display {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.1rem;

    bottom: 0.0rem;
    right: 0.1rem;

    width: 3.8rem;
    height: 1.2rem;

    font-size: 1.0rem;

    border: 0.1rem solid var(--background-colour);
    background-color: var(--transparent-border-colour-2);
    color: var(--light-font-colour);

    z-index: 10;
    pointer-events: none;
}