.options-status-bar {
    display: flex;
    align-items: center;

    height: 5.0rem;
    width: 100%;

    border-top: 0.1rem solid var(--border-colour-3);
    border-right: 0.1rem solid var(--border-colour-3);
    border-radius: 0.1rem;

    background-color: var(--panel-colour-2);

    position: relative;
}


.saved-data-status {
    position: absolute;
    left: 2.0rem;
    display: flex;
    align-items: center;
    margin-top: -0.3rem;
    

    color: var(--green-font);

    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.saved-data-status-check {
    margin: 0 1.0rem 0 0;
    transform: translateY(0.2rem);

    font-size: 2.2rem;

    transition: opacity 0.4s ease-out;
}

.saved-data-status-text {
    margin-top: 0.4rem;
}