.table-container {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--border-colour-3);
    border-left: none;
    overflow: hidden;
    border-radius: 0.3rem;
}

.healing-table {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 340fr 65fr 117fr 90fr 68fr 101fr 68fr 68fr 112fr 101fr 60fr 60fr;
}

.table-header-grid {
    background-color: var(--panel-colour-table-5);

    .table-header-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: .5rem .5rem .5rem .5rem;
        min-width: 6.5rem;
        height: 6.0rem;
        border-left: .1rem solid var(--border-colour-3);
        text-align: center;
        font-size: 1.7rem;
    }
}

.table-body-grid {
    background-color: var(--panel-colour-table-5);

    .table-body-cell {
        display: flex;
        align-items: center;
        justify-content: right;
        position: relative;
        padding: .5rem .5rem .5rem .5rem;
        min-width: 6.5rem;
        height: 3.5rem;
        border-left: .1rem solid var(--border-colour-3);
        border-top: 0.1rem solid var(--border-colour-3);
        font-size: 1.7rem;
        font-weight: 300;
        background-color: var(--panel-colour-table-3);
    }
}

.table-footer-grid {
    background-color: var(--panel-colour-table-5);

    .table-footer-cell {
        padding: .5rem .5rem .5rem .5rem;
        min-width: 6.5rem;
        height: 3.5rem;
        border-left: .1rem solid var(--border-colour-3);
        border-top: 0.1rem solid var(--border-colour-3);
        text-align: right;
        font-size: 1.7rem;
        font-weight: 500;
        overflow: hidden;
        
    }
}

.table-spell-icon {
    width: 3.0rem;
    height: 3.0rem;
    border: 0.15rem solid var(--border-colour-3);
    margin-right: 0.6rem;
}

.table-header-arrow-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.6rem;
    color: var(--subrow-arrow-colour);
    cursor: pointer;
}