.option-container {
    position: relative;
    display: flex;

    justify-content: space-between;   
    margin-bottom: 0.5rem; 
}

.options-option {
    display: block;
    margin-right: 13rem;
    padding-left: 0.6rem;
    width: 17.5rem;
    height: 2.5rem;
    border: 0.1rem solid var(--border-colour-3);
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.option-info-circle {
    position: absolute;
    top: 0.5rem;
    left: 0rem;
    font-size: 1.8rem;

    color: var(--info-circle-colour);
}

.option-info-circle:hover {
    color: var(--paladin-font);

    transition: color 0.1s ease-in-out;
}