.option-container {
    position: relative;
    display: flex;
    margin-bottom: 3.3rem;

    justify-content: space-between;    
}

.options-option {
    display: block;
    margin-right: 13rem;
    padding-left: 0.6rem;
    width: 17.5rem;
    height: 2.5rem;
    border: 0.1rem solid var(--border-colour-3);
    border-radius: 0.3rem;
    font-size: 1.5rem;
}