.filter-modal {
    transform: translateY(10.5rem);
    padding: .8rem;
    z-index: 10000;
    min-width: 30.0rem;
    border: .1rem solid var(--border-colour-3);
    border-radius: .3rem;
    background-color: var(--panel-colour-2);
    transition: opacity 0.1s ease-in-out;
    pointer-events: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter-modal-icon {
    margin: .25rem;
    margin-bottom: .5rem;
    z-index: 0;
    width: 3.0rem;
    height: 3.0rem;
    border: 0.1rem solid var(--border-colour-3);
}