.filter-modal {
    transform: translateY(10.5rem);
    padding: .5rem;
    z-index: 1000;
    width: 36.2rem;
    border: .1rem solid var(--border-colour-3);
    border-radius: .3rem;
    background-color: var(--panel-colour-2);
    transition: opacity 0.1s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: -6.5rem;
    left: -17.8rem;
}

.filter-modal::before,
.filter-modal::after {
    content: "";
    position: absolute;
    border-left: 1.1rem solid transparent;
    border-right: 1.1rem solid transparent;
}

.filter-modal::before {
    top: -1.1rem;
    left: 18rem;
    z-index: 2;
    border-bottom: 1.1rem solid var(--panel-colour-2);
}

.filter-modal::after {
    top: -1.2rem;
    left: 18rem;
    border-bottom: 1.1rem solid var(--border-colour-3);
}

.filter-modal-icon-container {
    // margin-top: 0.1rem;
    margin: 0;
    padding: 0;
    height: 3.7rem;
    cursor: pointer;
    z-index: 1000;
}

.filter-modal-icon {
    margin: .25rem;
    width: 3.0rem;
    height: 3.0rem;
    border: 0.1rem solid var(--border-colour-3);
    cursor: pointer;
    z-index: 1000;
}