.stats-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 13.5rem;
    margin-bottom: .9rem;
    color: var(--light-font-colour);

    .stats-display-row {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 5.0rem;
    }

    .stats-display-row:first-of-type {
        margin-bottom: .5rem;
    }
}