.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 4rem;
    width: 100%;

    border-top: 0.2rem solid var(--panel-colour-3);

    background-color: var(--panel-colour-2);
}