.import-overlay {
    position: absolute;
    width: 132rem;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #00000057;
}

.import-character-container-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 39rem;
    transform: translate(0rem, -.7rem);

    color: var(--light-font-colour);
    font-size: 1.8rem;
    text-align: center;
    user-select: none;

    background-color: var(--panel-colour);
    border: .1rem solid var(--border-colour-3);
}

.import-character-reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.0rem;

    height: 6.0rem;

    color: var(--light-font-colour);
    font-size: 2.0rem;
}

.character-input-label-main {
    padding: .9rem 1.0rem 1.0rem .2rem;

    width: 27.5rem;
    text-align: left;

    font-size: 1.6rem;
    color: var(--light-font-colour);
}

// #character-name-error-modal {
//     display: none;
//     position: absolute;
//     justify-content: center;
//     align-items: center;
//     z-index: 1;
//     left: 343px;
//     top: 267px;
//     width: 198px;
//     height: 50px;

//     border: 1px solid var(--border-colour-3);
//     background-color: var(--panel-colour-table);
//     cursor: auto;
// }

// #character-name-error-modal::before {
//     content: "";
//     position: absolute;
//     transform: rotate(-90deg);
//     border-left: 11px solid transparent;
//     border-right: 11px solid transparent;

//     bottom: 19px;
//     left: -17px;
//     z-index: 2;
//     border-bottom: 11px solid var(--panel-colour-4);
// }

// #character-name-error-modal::after {
//     bottom: -19px;
//     left: 90px;
//     border-bottom: 10px solid var(--panel-colour-4);
// }

// #character-name-error-modal-message {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: var(--light-font-colour);
//     font-size: 15px;
//     text-align: center;

//     height: 100%;
// }

.character-input-field-main {
    margin: -.6rem 0 .5rem 0;
    padding: 0 .5rem .1rem 1rem;

    height: 4.0rem;
    width: 27.5rem;
    font-size: 1.6rem;

    outline: none;

    border: .1rem solid var(--panel-colour-4);
    border-radius: .3rem;

    color: var(--light-font-colour);
    background-color: var(--panel-colour-2);
}