.talent-arrow-down::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: var(--border-colour-3);
    left: 50%;
    top: 99%; 
    transform: translateX(-50%);
    z-index: 4;
    box-shadow: 0px 0px 1px var(--holy-font);
    pointer-events: none;
}

.talent-arrow-down::after {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(100% + 9px);
    border: solid var(--border-colour-3);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: translateX(-50%) rotate(45deg);
    z-index: 5;
    box-shadow: 0px 0px 0px var(--holy-font);
    pointer-events: none;
}

.talent-arrow-down-long::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    background-color: var(--border-colour-3);
    left: 50%;
    top: 99%; 
    transform: translateX(-50%);
    z-index: 4;
    box-shadow: 0px 0px 1px var(--holy-font);
    pointer-events: none;
}

.talent-arrow-down-long::after {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(240% + 9px);
    border: solid var(--border-colour-3);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: translateX(-50%) rotate(45deg);
    z-index: 5;
    pointer-events: none;
}

.talent-arrow-left::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 40px;
    background-color: var(--border-colour-3);
    left: -47%;
    top: 70%; 
    transform: rotate(66deg);
    z-index: 0;
    box-shadow: 0px 0px 1px var(--holy-font);
    pointer-events: none;
}

.talent-arrow-left::after {
    content: "";
    position: absolute;
    left: -88%;
    top: calc(109% + 9px);
    border: solid var(--border-colour-3);
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: translateX(-50%) rotate(110deg);
    z-index: 5;
    pointer-events: none;
}

.talent-arrow-right::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 43px;
    background-color: var(--border-colour-3);
    left: 142%;
    top: 62%; 
    transform: rotate(-68deg);
    z-index: 0;
    box-shadow: 0px 0px 1px var(--holy-font);
    pointer-events: none;
}

.talent-arrow-right::after {
    content: "";
    position: absolute;
    left: 190%;
    top: calc(104% + 9px);
    border: solid var(--border-colour-3);
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: translateX(-50%) rotate(-16deg);
    z-index: 5;
    pointer-events: none;
}